body{
    padding: 20px;
}

img {
    display: block;
    margin: auto;
}
div{
    margin-bottom: 40px;
}

/* Conteneur principal */
.container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.row {
    display: flex;
    gap: 20px; 
}
.container {
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row .container {
    flex: 0 0 48%; 
}
.container{
    width: 48%;
  
  
}




